.wallet-history {

	margin: 10px 0;

	.expense-item {
		margin: 9px 0;
		border-bottom: 1px #d0d0d0 solid;
	}

	.expense-item-title {
		font-size: 19px;
		font-weight: bold;
	}
	.expense-item-amount {
		font-size: 15px;
		font-weight: bold;
		display: inline-block;
		padding: 8px;
	}

	.expense-item-date {
		font-size: 11px;
		font-weight: gray;
	}
	.expense-item-amount.negative {
		color: red;
	}

	.expense-item-amount.positive {
		color: green;
	}
}

